extends layout

block content
  #ui
    #progressbar
      .progress-label
    #info
      p#leveltext= "Level:"
      p#goldtext= "Gold:"
      p#foodtext= "Food:"
    button#zoomIn= "+"
    button#zoomOut= "-"
    button#start= ">"
    //- button= -
    ul#buildmenu
      li Collector
      li Farm
      li Road
      li Wall
      li Tower
    button#sellbutton= "Sell"